  <div class="row">
    <div class="grid__item one-whole">
      	
          <a href="{{settings.homepage_hero_item_url}}">
	        <img style="margin-bottom:0px;display:block;position:relative;" src="{{ 'homepage_hero_item_image.jpg' | asset_url }}" alt="" />
    	  </a>
             

    </div>
  </div>

  <div class="row">          
      <div class="grid__item one-whole" style="padding-top:50px;">
        
		            <div class="image-title-text">
                      <a name="vogue">&nbsp;</a>
			        </div>
                 
            		<div class="movie movie-poster story-item-hp">
		        		<video preload="none">
        		  			<source src="https://s3-us-west-2.amazonaws.com/tuckernyc/Vogue18-Video.mp4" type="video/mp4">
        				</video>
		        		<div class="movie__controls">
        	  				<div style="background-image: url({{ 'Vogue18-Video-Still.jpg' | asset_url }});" class="movie__control movie__control__poster-img"></div>
          					<div class="movie__control movie__control__poster-story-subhead movie__control__poster--big">Vogue Magazine Collection Preview</div>
          					<div class="movie__control movie__control__btn movie__control__play-btn"><i class="fa fa-play"></i></div>
          					<div class="movie__control movie__control__btn movie__control__pause-btn"><i class="fa fa-pause"></i></div>
                      	</div>

    		  		</div>
            
                 	<div class="image-title-text">
                     	Vogue Magazine 2018 Spring Preview
			        </div>  
            		<a href="https://www.vogue.com/fashion-shows/spring-2018-ready-to-wear/tucker" target="_blank">
            	    <div class="image-action-text image-action-text--underline">
	            		Read The Review
	         	    </div>
            		</a>
		
      </div>
   </div>



    <div class="grid__item large--homepage-08-23-16-left-col">
      <a href="/collections/shop-all#11420416718">
      <img class="lazy" style="width:100%;" src="{{ 'HOMEPAGE_ROW_1.1.jpg' | asset_url }}" alt="">
        <div class="homepage-image-action">
          <div class="image-title-text">
            Soft and Subtle
          </div>
          <div class="image-action-text image-action-text--underline">
            Shop Now
          </div>
        </div>
      </a>
    </div>

    <div class="grid__item large--homepage-08-23-16-right-col">
      <a href="/collections/markdowns#10980485006">
      <img class="lazy" style="width:100%;" src="{{ 'HOMEPAGE_ROW_1.2.jpg' | asset_url }}" alt="">
        <div class="homepage-image-action">
          <div class="image-title-text">
            Markdowns
          </div>
          <div class="image-action-text image-action-text--underline">
            Shop Now
          </div>
        </div>
      </a>
    </div>    
    

	<div class="grid__item large--homepage-08-23-16-right-col">
      <a href="/collections/shop-all">
      <img class="lazy" style="" src="{{ 'HOMEPAGE_ROW_2.1.jpg' | asset_url }}" alt="">
        <div class="homepage-image-action">
          <div class="image-title-text">
            Full Looks
          </div>
          <div class="image-action-text image-action-text--underline">
            Shop Now
          </div>
        </div>
      </a>
    </div>

    <div class="grid__item large--homepage-08-23-16-left-col">
      <a href="/collections/tops">
      <img class="lazy" style="" src="{{ 'HOMEPAGE_ROW_2.2.jpg' | asset_url }}" alt="">
        <div class="homepage-image-action">
          <div class="image-title-text">
            Bold Prints
          </div>
          <div class="image-action-text image-action-text--underline">
            Shop Now
          </div>
        </div>
      </a>
    </div>


<div class="grid__item large--homepage-08-23-16-left-col">

  <a href="/pages/tucker-music-series">
    <img class="lazy" style="width:100%;" src="{{ 'bottom_left_item_image.jpg' | asset_url }}" alt="">
    <div class="homepage-image-action">
      <div class="image-title-text">
        Tucker in Motion
      </div>
      <div class="image-action-text image-action-text--underline">
        Enjoy
      </div>
    </div>
  </a>

</div>


    <div class="grid__item large--homepage-08-23-16-right-col">
      <a href="/pages/about-us">
      <img class="lazy" style="width:100%;" src="{{ 'bottom_right_item_image.jpg' | asset_url }}" alt="">
        <div class="homepage-image-action">
          <div class="image-title-text">
            Get to know Gaby
          </div>
          <div class="image-action-text image-action-text--underline">
            About Gaby
          </div>
        </div>
      </a>
    </div>

  {% comment %}    	
  <div class="row">
    <div class="grid__item one-whole">
      <a href="/collections/shop-all/products/gift-card">
      <img style="margin-bottom:60px;display:block;position:relative;" src="{{ 'giftcard_site_banner.jpg' | asset_url }}" alt="" />
      </a>
    </div>
  </div>    
  {% endcomment %}
